.search-container {
    display: inline-block;
    width: auto;
    text-align: right;
    margin-left: 20rem;
    margin-top: 2rem;
}

.searchbar {
    padding: 0.5em 2.5em 0.5em 1em;
    border: none;
    font-size: 17px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 16em;
    position: relative;
}

.search-icon {
    position: relative;
    top: 0.9em;
    right: 2em;
    transform: translateY(-50%);
    height: 1.2em;
    width: auto;
    pointer-events: none;
    z-index: 3;
}

.dropdown {
    display: inline-block;
    width: auto;
    text-align: right;
    margin-left: 0.2rem;
    margin-top: 2rem;
}

.dropdown select {
    padding: 0.5em 1em;
    border: none;
    font-size: 17px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 12em;
    position: relative;
}

.addItemButton{
    margin-left: 49.7rem;
    font-size: 17px;
    background: #06367A;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.close:hover{
    color: red;
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content form label {
    margin-top: 10px;
}

.popup-content form input,
.popup-content form select,
.popup-content form button {
    padding: 0.5em;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-content form button {
    background-color: #06367A;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.popup-content form button:hover {
    background-color: #052a5d;
}


.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 20rem;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 2rem;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
}

.item {
    background: white;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 2rem;
}

.itemName {
    font-size: 18px;
    margin-top: 0.5rem;
}

.itemImage {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.itemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.itemStock {
    margin-top: 0.2rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.editButton {
    font-size: 17px;
    background: #d3d3d3;
    color: black;
    font-family: "Roboto", sans-serif;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.editButton:hover {
    background: #b0b0b0;
}

.deleteButton {
    font-size: 17px;
    background: #ff4d4d;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.deleteButton:hover {
    background: #e60000;
}

.itemImageDetails{
    width: 12.5rem;
    height: 12.5rem;
    overflow: hidden;
}


.itemDetailsPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.itemDetailsPopup .popup-content {
    width: 400px;
    padding: 30px;
}

.itemDetailsPopup .popup-content h2 {
    color: #06367A;
}

.itemDetailsPopup .popup-content img {
    margin-top: 15px;
}
