<div class="search-container">
    <input type="text" placeholder="Search.." class="searchbar" [(ngModel)]="searchQuery" (input)="filterItems()">
    <img src="assets/images/search.png" alt="search" class="search-icon">
</div>

<div class="itemList">
    <div class="itemWrapper" *ngFor="let item of filteredItems">
        <div class="item">
            <div class="itemImage">
                <img [src]="item.imageUrl" alt="itemImage">
            </div>
        </div>
        <div class="itemName">{{ item.name }}</div>
        <div class="itemStock">Voorraad: {{ item.quantity }} stuks</div>
    </div>
</div>