.search-container {
    display: inline-block;
    width: auto;
    text-align: right;
    margin-left: 20rem;
    margin-top: 2rem;
}

.searchbar {
    padding: 0.5em 2.5em 0.5em 1em;
    border: none;
    font-size: 17px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 16em;
    position: relative;
}

.search-icon {
    position: relative;
    top: 0.9em;
    right: 2em;
    transform: translateY(-50%);
    height: 1.2em;
    width: auto;
    pointer-events: none;
    z-index: 3;
}

.dropdown {
    display: inline-block;
    width: auto;
    text-align: right;
    margin-left: 0.2rem;
    margin-top: 2rem;
}

.mat-form-field {
    width: 16em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 20rem;
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 2rem;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
}

.item {
    background: white;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 2rem;
}

.itemName {
    font-size: 18px;
    margin-top: 0.5rem;
}

.itemImage {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.itemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.itemStock {
    margin-top: 0.2rem;
}