<div class="navbar">
  <img src="assets/images/profileimage.png" alt="profileimage" class="profileimage">
  <label class="name">{{ employee?.name || 'Geen gebruiker' }}</label>

  <div class="navitems">
    <a routerLink="/storage"><img src="assets/images/storage.png" alt="storage" class="storage">Magazijn</a>
    <a routerLink="/orders"><img src="assets/images/truck.png" alt="truck" class="truck">Bestellingen</a>
    <a routerLink="/planning"><img src="assets/images/agenda.png" alt="agenda" class="agenda">Inplannen</a>
    <a routerLink="/invoice"><img src="assets/images/invoice.png" alt="invoice" class="invoice">Factuur</a>
    <a class="logout" (click)="logout()"><img src="assets/images/logout.png" alt="logout" class="logoutlogo">Uitloggen</a>
  </div>
</div>
