.navbar {
    width: 15rem;
    height: 100%;
    flex-shrink: 0;
    background: #06367A;
    color: white;
    font-family: "Roboto", sans-serif;
    z-index: 1000;
    position: fixed;
}

.profileimage{
    position: absolute;
    height: 7rem;
    width: auto;
    margin-left: 4rem;
    margin-top: 3rem;
}

.name{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    margin-top: 11rem;
    margin-left: 6rem;
}

.navitems {
    display: flex;
    flex-direction: column;
    padding: 20rem 5rem;
}

.navitems a {
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 0;
    position: relative;
    text-decoration: none;
    color: white;
}

.storage{
    height: 1.2rem;
    width: auto;
    position: absolute;
    margin-left: -2rem;
    margin-top: -0.1rem;
}
.truck{
    height: 1.3rem;
    width: auto;
    position: absolute;
    margin-left: -2rem;
    margin-top: -0.1rem;
}
.agenda{
    height: 1.3rem;
    width: auto;
    position: absolute;
    margin-left: -2rem;
    margin-top: -0.1rem;
}
.invoice{
    height: 1.3rem;
    width: auto;
    position: absolute;
    margin-left: -2rem;
    margin-top: -0.1rem;
}
.logoutlogo{
    height: 1.3rem;
    width: auto;
    position: absolute;
    z-index: 1000;
    margin-left: -1.7rem;
    margin-top: -0.1rem;
}

.logout{
    margin-top: 16rem;
}

.navitems a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px; 
    width: 0px;
    height: 100%;
    background: #29528d;
    z-index: -1;
    transition: width 0.3s, box-shadow 0.3s;
}

.navitems a:hover::before {
    width: calc(100% + 100px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.navitems a,
.logout {
    cursor: pointer;
}