.navbar {
    width: 15rem;
    height: 100%;
    flex-shrink: 0;
    background: #06367A;
    color: white;
    font-family: "Roboto", sans-serif;
    z-index: 1000;
    position: fixed;
}

.navitems {
    display: flex;
    flex-direction: column;
    padding: 20rem 5rem;
}

.navitems a {
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 0;
    position: relative;
    text-decoration: none;
    color: white;
}

.navitems a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; 
    width: 0px;
    height: 100%;
    background: #29528d;
    z-index: -1;
    transition: width 0.3s, box-shadow 0.3s;
}

.navitems a:hover::before {
    width: calc(100% + 30px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}